.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}



.img1, 
.img2,
.img3 {background: url(../img/knb.png) no-repeat; height: 249px; width: 130px; display: inline-block; overflow: hidden;}

.img1 {background-position: -25px 0px;}
.img2 {background-position: -163px 0px;}
.img3 {background-position: -305px 0px;}

.totalresult {
border: 1px solid;
    padding: 15px;
    border-radius: 12px;
    background-color: #337ab7;
    font-weight: bolder;
    font-family: arial;
    display: inline-block;
	color: white;}