.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.info-wrapper {
    padding: 5px;
    text-align: left;
}
div.tab-content {
    display: none;
}
a.is-active {
    color: #ffffff;
}
div.is-active {
    display: block;
}
.count-text span.warning {
    color: red;
}