.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.info-wrapper {
    padding: 5px;
    text-align: left;
}


.info-wrapper {
	padding: 0 5px;
}

.validation-msg {
	padding: 15px;
}

.hide{
	display: none;
}

.col-password{
	position: relative;
}

.btnbtn-hide{
	background-color: transparent;
	background-image: url("../img/eye_find_search.png");
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	position: relative;
	top: -1px;
	right: 18px;
	border: none;
	outline: none;
}
.form-group{
	position: relative;
}

.form-group input[type="submit"]{
	background-color: transparent;
	background-image: url("../img/eye_find_search.png");
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	position: absolute;
	top: -1px;
	right: 18px;
	border: none;
	outline: none;
}

.show-password{
	background: #83ab64;
	color: #fff;
	border: none;
	border-radius: 3px;
	padding: 4px 20px;
	min-width: 140px;
	outline: none;
}
.sow-password:hover{
	background: #dff0d8;
}